#algo-vis {
  padding: 0;
  user-select: none;
}

#algo-vis > table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

#algo-vis td {
  margin: 0;
  border: 1px solid gray;
  padding: 0;

  font-size: 80%;
}

#vis-container {
  padding: 1em;
  align-items: flex-start;
}

#main-cont {
  justify-content: space-between;
  height: 94%;
}

#main-cont > div {
  overflow-y: scroll;
}


#passability-icon {
  width: 2em;
  height: 2em;
  border: 1px solid gray;
  background-color:black;
}

#terrain-drawing {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#terrain-drawing p {
  min-width: 2em;
}

#vis-settings-fieldset {
  align-items: center;
}

.editable td {
  cursor: crosshair;
}

.not-editable td {
  cursor: not-allowed;
}

#terrain-edit-err {
  color: red;
}

#vis-stats table {
  font-size: 1.2em;
  font-family:Arial, Helvetica, sans-serif;
  width: 90%;
}

#vis-stats table td {
  width: 45%;
}

#vis-stats td:first-child {
  text-align: right;
}

#vis-stats td p {
  margin: 0.5em 0;
}